  .site-layout-content {
    margin: 0px 24px 70px;
    padding: 24px;
  }

  #components-layout-demo-top .logo {
    float: left;
    width: 120px;
    height: 31px;
    margin: 16px 24px 16px 0;
  }

  .logo{
    text-align: left;
  }

  .githublogo{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
  }

  .header{
    height: 70px;
    display: flex;
    justify-content: space-between;
  }

  .ant-row-rtl #components-layout-demo-top .logo {
    float: right;
    margin: 16px 0 16px 24px;
  }

  .content{
    padding: 0 50px;
    background-color: white;
  }

  .layout{
    min-height: 100vh;
  }

  @media only screen and (max-width: 600px) {
    .site-layout-content {
      padding: 0 0;
      margin: 12px 0;
    }

    .header{
      height: 70px;
      display: flex;
      justify-content: center;
    }

    .logo{
      text-align: center;
    }

    .content{
      padding: 0 24px;
    }
  }